:root {
  /* light ston */
  --color-ston-light-background: #f5f5f5;
  --color-ston-light-surface: #e8e8e8;
  --color-ston-light-surface-bright: #ffffff;
  --color-ston-light-surface-light: #d8d8d8;
  --color-ston-light-surface-variant: #696969;
  --color-ston-light-on-surface-variant: #f5f5f5;
  --color-ston-light-primary: #505050;
  --color-ston-light-primary-darken-1: #404040;
  --color-ston-light-secondary: #808080;
  --color-ston-light-secondary-darken-1: #707070;
  --color-ston-light-error: #8b4513;
  --color-ston-light-info: #4682b4;
  --color-ston-light-success: #556b2f;
  --color-ston-light-warning: #d2691e; /* dark ston */
  --color-ston-dark-background: #1c1c1c;
  --color-ston-dark-surface: #2f2f2f;
  --color-ston-dark-surface-bright: #3d3d3d;
  --color-ston-dark-surface-light: #262626;
  --color-ston-dark-surface-variant: #a9a9a9;
  --color-ston-dark-on-surface-variant: #1c1c1c;
  --color-ston-dark-primary: #a9a9a9;
  --color-ston-dark-primary-darken-1: #999999;
  --color-ston-dark-secondary: #696969;
  --color-ston-dark-secondary-darken-1: #595959;
  --color-ston-dark-error: #cd853f;
  --color-ston-dark-info: #5f9ea0;
  --color-ston-dark-success: #6b8e23;
  --color-ston-dark-warning: #deb887;
}
.theme-ston-light {
  --color-tw-background: var(--color-ston-light-background);
  --color-tw-surface: var(--color-ston-light-surface);
  --color-tw-surface-bright: var(--color-ston-light-surface-bright);
  --color-tw-surface-light: var(--color-ston-light-surface-light);
  --color-tw-surface-variant: var(--color-ston-light-surface-variant);
  --color-tw-on-surface-variant: var(--color-ston-light-on-surface-variant);
  --color-tw-primary: var(--color-ston-light-primary);
  --color-tw-primary-darken-1: var(--color-ston-light-primary-darken-1);
  --color-tw-secondary: var(--color-ston-light-secondary);
  --color-tw-secondary-darken-1: var(--color-ston-light-secondary-darken-1);
  --color-tw-error: var(--color-ston-light-error);
  --color-tw-info: var(--color-ston-light-info);
  --color-tw-success: var(--color-ston-light-success);
  --color-tw-warning: var(--color-ston-light-warning);
}
.theme-ston-dark {
  --color-tw-background: var(--color-ston-dark-background);
  --color-tw-surface: var(--color-ston-dark-surface);
  --color-tw-surface-bright: var(--color-ston-dark-surface-bright);
  --color-tw-surface-dark: var(--color-ston-dark-surface-dark);
  --color-tw-surface-variant: var(--color-ston-dark-surface-variant);
  --color-tw-on-surface-variant: var(--color-ston-dark-on-surface-variant);
  --color-tw-primary: var(--color-ston-dark-primary);
  --color-tw-primary-darken-1: var(--color-ston-dark-primary-darken-1);
  --color-tw-secondary: var(--color-ston-dark-secondary);
  --color-tw-secondary-darken-1: var(--color-ston-dark-secondary-darken-1);
  --color-tw-error: var(--color-ston-dark-error);
  --color-tw-info: var(--color-ston-dark-info);
  --color-tw-success: var(--color-ston-dark-success);
  --color-tw-warning: var(--color-ston-dark-warning);
}
