.theme-wood-dark {
  --color-tw-background: var(--color-wood-dark-background);
  --color-tw-surface: var(--color-wood-dark-surface);
  --color-tw-surface-bright: var(--color-wood-dark-surface-bright);
  --color-tw-surface-light: var(--color-wood-dark-surface-light);
  --color-tw-surface-variant: var(--color-wood-dark-surface-variant);
  --color-tw-on-surface-variant: var(--color-wood-dark-on-surface-variant);
  --color-tw-primary: var(--color-wood-dark-primary);
  --color-tw-primary-darken-1: var(--color-wood-dark-primary-darken-1);
  --color-tw-secondary: var(--color-wood-dark-secondary);
  --color-tw-secondary-darken-1: var(--color-wood-dark-secondary-darken-1);
  --color-tw-error: var(--color-wood-dark-error);
  --color-tw-info: var(--color-wood-dark-info);
  --color-tw-success: var(--color-wood-dark-success);
  --color-tw-warning: var(--color-wood-dark-warning);
}
